In [1]:
import numpy as np
import pandas as pd

In [3]:
values_1= np.random.randint(10, size=10)
values_2= np.random.randint(10, size=10)
years= np.arange(2010,2020)
groups= ['A','A','B','A','B','B','C','A','C','C']

df = pd.DataFrame({'group':groups, 'year':years,'value_1':values_1,
                  'value_2':values_2})
df

  group  year  value_1  value_2
0     A  2010        8        2
1     A  2011        7        0
2     B  2012        1        1
3     A  2013        5        2
4     B  2014        6        3
5     B  2015        8        4
6     C  2016        2        5
7     A  2017        6        0
8     C  2018        0        2
9     C  2019        9        1

It is very simple to use query function which only requires to write the condition for filtering.

In [4]:
df.query('value_1 < value_2')

  group  year  value_1  value_2
6     C  2016        2        5
8     C  2018        0        2